@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
  font-family: sans-serif;
}
body{
  line-height: 1.8;
  color: #404040;
  background: #faf8f6;
  margin: 0;
}
a {
  color: #3977ac;
}
img {
  max-width: 100%;
  border-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: auto;
  font-weight: normal;
}

main{
  margin-left: 10px;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 4%;
}
.desc {
  margin-top: 30px;
  margin-left: 4px;
  margin-bottom: 20px;
}

/* ヘッダー
------------------------------- */
header {
  background: #c8e7e0;
  padding: 28px 0 24px 8px;
  margin: 0;
}
div.head {
  max-width: 700px;
  margin: 0 auto;
}

/* 見出し */
a.site_title {
  font-size: 2rem;
  text-decoration: none;
  color: #505050;
}

.page_title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}
.sub_title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

/* 記事部分
------------------------------- */
article {
  width: 100%;
  margin-left: 8px;
}
article.post_info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 4px;
}

div.post {
  width: 98%;
  margin-left: 20px;
  position: relative;
  padding-top: 4px;
  margin-bottom: 60px;
  margin-left: 6px;
}

.post_title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 20px;
  color: #505050;
}

.post_title a {
  font-size: 1.375rem;
  font-weight: 600;
  color: #3977ac;
}

.arc a {
  font-size: 1.375rem;
  font-weight: 600;
  color: #3977ac;
  margin-left: 8px;
}

.post_desc {
  margin-bottom: 2px;
}
.post_meta {
  margin-bottom: 16px;
  color: #666666;
  font-size: 0.875rem;
}
.post_date {
  margin-bottom: 35px;
  color: #666666;
  font-size: 0.875rem;
  text-align: right;
}


/* 管理人 部分 */
section.author {
  color: #505050;
  margin: 80px 0 20px 0;
}

/* flex */
.flex {
  display: flex;
}
.item_i {
  margin: 10px;
}
.item_t {
  margin: 10px;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* flex_nav */
.flex_nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.prev {
  font-size: 0.8rem;
  line-height: 1.5;
  padding-left: 30px;
  width: 40%;
  text-align: left;
  background-image: url(../img/new.gif);
  background-repeat: no-repeat;
  background-position: 0% 3px;
  background-size: 30px;
}
.prev_c {
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 3px 10px 10px 22px;
  width: 40%;
  text-align: left;
  background-image: url(../img/favicon.png);
  background-repeat: no-repeat;
  background-position: 0% 3px;
  background-size: 20px;
}
.next {
  font-size: 0.8rem;
  line-height: 1.5;
  padding-right: 30px;
  width: 40%;
  text-align: right;
  background-image: url(../img/prev.gif);
  background-repeat: no-repeat;
  background-position: 100% 3px;
  background-size: 30px;
}

/* フッター
------------------------------- */
footer {
  background: #c8e7e0;
  text-align: center;
  padding: 13px 0;
  margin: 0;
}
div.footer {
  max-width: 700px;
  margin: 0 auto;
}
footer p {
  color: #505050;
  font-size: 0.875rem;
}

footer a {
  color: #505050;
}

.nav_menu {
  display: inline-flex;
  margin-top: 20px;
  list-style: none;
}
.nav_menu li {
  margin: 0 15px 0 15px;
}
.nav_menu a {
  color: #505050;
  text-decoration: none;
}
.nav_menu a:hover {
  color: #0bd;
}

/* いろんなスタイル
------------------------------- */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;

}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;

}

.h1, h1 {
  padding-top: 10px;
}

.h2, h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
}

h2.center {
  text-align: center;
}

.h3, h3 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 15px;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
